.login-doctor,
.login-medical {
  padding: 120px 0px 40px;
  .img-fluid,
  .img-thumbnail {
    height: auto;
    max-width: 100%;
  }
  .login-right {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 25px;
    .dont-have {
      color: #3d3d3d;
      font-size: 13px;
      margin-top: 20px;
      a {
        color: #09dca4;
      }
    }
    .login-header {
      margin-bottom: 20px;
      h3 {
        font-size: 18px;
        margin-bottom: 3px;
      }
    }
    .form-focus {
      height: 50px;
      position: relative;
      .form-control {
        height: 50px;
        padding: 21px 12px 6px;
        width: 100%;
      }
      .focus-label {
        color: #b8b8b8;
        font-size: 14px;
        font-weight: 400;
        left: 12px;
        margin-bottom: 0;
        pointer-events: none;
        position: absolute;
        top: -8px;
        -webkit-transform: translate3d(0, 22px, 0) scale(1);
        transform: translate3d(0, 22px, 0) scale(1);
        -webkit-transform-origin: left top;
        transform-origin: left top;
        transition: 0.24s;
        z-index: 1;
      }
      .dropdown-menu > li > a.text-danger,
      .text-danger {
        color: #ff0100 !important;
      }
    }
  }
  .login-btn {
    font-size: 18px;
    font-weight: 500;
    background-color: #09e5ab;
    border: 1px solid #09e5ab;
  }

  .forgot-link {
    color: #3d3d3d;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}
.row {
  margin: 0px;
  padding: 0px;
}
@media only screen and (max-width: 767.98px) {
  .login-right {
    margin: 0 15px;
    padding: 15px;
  }
}
